@use '../../colors' as color;

.playlist { 
    width: 100%;
    
   .row-playlist {

        &:first-child { margin-top: 1rem; }
        &:hover { background: color.$hover-track; }

        padding: 0.75rem;
        border-radius: 20px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .Album {
            max-width: 50px;
            border-radius: 5px;

            display: flex;
            align-items: center;
        }

        .track {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.75rem;

            &-text { max-width: 13.25rem; }
            &-number {
                display: flex;
                justify-content: center;
                width: 21px;
                font-weight: 600;
                color: color.$subheader;
            }
        }

    &:last-child {
        .track-number, .track-text, .icon-delete {
            color: color.$subheader;
            svg { color: color.$subheader; }
        }
    }
   }

   .btn-save { 
        width: 100%;
        padding: 1.2rem;
        margin-top: 1rem;
   }

   .expandCollapse {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
   }
}