@use '../../colors' as color;

.searchColumnHeaders {
        padding: 0 1.25rem;
    
        .row-header {
            margin: 0.75rem 0;
            padding: 0.75rem;

            display: grid;
            column-gap: 2rem;
            grid-template-columns: [col1] minmax(auto, 26rem) [col2] 5rem [col3] 5rem [col4] 3.1rem [col5] 1.4rem [end];
            align-items: center;
            justify-items: start;
            justify-content: space-between;
        }

        .col-header {
            display: flex;
            gap: 0.4rem;
            align-items: center;

            font-weight: 800;
            letter-spacing: 0.2px;

            cursor: pointer;
            transition: color 0.2s ease-in-out;
            &:hover { color: color.$hover-header; }
        }     

        svg { color: black; }
}

@media screen and (max-width: 630px ) {
    .searchColumnHeaders { display: none; }
 
}