// Color Themes
$background: #ffffff;
$background-container: #f8f4fc;
$background-btn: #dcdee1; // #d8d8d8
$background-svg: #5f6369;
$background-search: #dcdee1;

$border-container: #dcdee1;

$hover-btn: #eff0f0;
$hover-svg: #bfc0c0;
$hover-track: #f1f3f4; // #f8f4fc
$hover-header: #959297;

$subheader: #8f9090;